<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Outbox 폴링 쿼리만 콘솔에서 제외 -->
        <filter class="io.github.treasurehaenaryn.msa.common.kafka.logging.OutboxPollingQueryFilter"/>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.hibernate.SQL" level="DEBUG"/>
</configuration>
